[submodule "README/openai-cookbook"]
	path = README/openai-cookbook
	url = https://github.com/openai/openai-cookbook
[submodule "README/open-webui"]
	path = README/open-webui
	url = https://github.com/open-webui/open-webui
[submodule "README/openai-agents-python"]
	path = README/openai-agents-python
	url = https://github.com/openai/openai-agents-python
[submodule "README/crewAI-examples"]
	path = README/crewAI-examples
	url = https://github.com/crewAIInc/crewAI-examples
[submodule "README/letta"]
	path = README/letta
	url = https://github.com/letta-ai/letta
[submodule "README/AI-For-Beginners"]
	path = README/AI-For-Beginners
	url = https://github.com/microsoft/AI-For-Beginners
[submodule "agents"]
	path = agents
	url = https://github.com/contains-studio/agents
